@import "reset.css";

/* components CSS */
@import "login.css";
@import "profile.css";
@import "justinTimes.css";
@import "Times.css";
@import "Home.css";
@import "Contact.css";

/* screens CSS */
@import "header.css";
@import "footer.css";

body {
  height: 140vh;
  margin: 10px;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
